body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 14px;
  line-height: 1.42;
  margin: 0;
  padding: 0;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

a {
  color:inherit;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 400;
}

p {
  margin-top: 0;
}

* {
  box-sizing: border-box;
}

body,html {
  height: 100%;
}

img {
  display: block;
  max-width: 100%;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  min-width: 1200px;
}

.main-page-wrapper {
  background: url('../../img/hero.jpg') center top no-repeat, url('../../img/bottom-pic.jpg') center bottom 160px no-repeat;
  background-color: #001821;
}

.container {
  margin: 0 auto;
  width: 1141px;
}

.page-content-reviews {
  margin-bottom: 85px;
}
/* .container__services {
  margin: 0 auto;
  width: 1146px;
} */