.form__row {
  display: flex;
  margin-bottom: 25px;
}

.form__input {
  flex: 1;
  margin-right: 30px;
  background: #FFFFFF;
  border: none;
  border-radius: 5px;
  padding: 26px 30px;
  font-size: 18px;
  color: #1A1B1E;
}

.form__input::placeholder {
color: #666666;
}

.form__input:last-child {
  margin-right: 0;
}

.form__input:focus {
  outline: none;
  border: 1px solid #F5170E
}

.form__input--textarea {
  height: 235px;
}

.form__controls {
  display: flex;
  margin-bottom: 26px;
}

.form__controls-title {
  font-size: 18px;
  color: #1A1B1E;
  width: 38%;
  padding-top: 7px;
}

.form__btns {
  display: flex;
  justify-content: flex-end;
}

.form__btn {
  margin-right: 17px;
}

.form__btn:last-child {
  margin-right: 0;
}


