.services {
  padding: 98px 0;
  background-color: #fff;
  color: #303030;
  margin: 0 auto 90px auto;
  }
  
  .services__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 17px;
  }
  
  .services__item {
    flex: 0 0 auto;
    margin-bottom: 49px;
  }