.text {
  width: 47%;
  /* width: 511px; */
  padding-top: 125px;
  margin-bottom: 245px;
  min-height: 333px;
}

.text__tittle {
  font-size: 72px;
  font-weight: 700;
  line-height: 1.36;
  margin-bottom: 28px;
}

.text__subtittle {
  font-size: 18px;
  margin-bottom: 35px;
  line-height: 1.1;
}